<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>Gestor de ventas</title>
</head>
<body>
	<h1>Gestor de ventas</h1>
	<div class="container">
			{{#block "contenido"}}
			{{/block}}
	</div>
</body>
</html>