{{#partial "contenido"}}

	<h3 style="text-align:center">Detalle venta</h3>
	<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Producto</th>
			<th>Precio</th>
		</tr>
		{{#each productos}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{precio}}</td>
		</tr>
		{{/each}}
	</table>
	</div>

{{/partial}}
{{>base.hbs}}