{{#partial "contenido"}}
	<h3>Seleccione un supermercado</h3>
	<div class="form-group">
	<form role="form" action="/ventas" method="POST">
		<select name="nombreSupermercado" class="custom-select">
			<option value="-1">Seleccionar</option>
			{{#each supermercados}}
			<option value= {{razonSocial}}> {{razonSocial}}</option>
			{{/each}}
		</select>
		<button  type="submit" class="btn btn-primary">Ver ventas</button>
	</form>
	</div>
{{/partial}}
{{>base.hbs}}